server:
  port: 8082

spring:
  datasource:
    url: jdbc:mariadb://localhost:3306/contract_db
    username: root
    password: mariadb
    driver-class-name: org.mariadb.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

mybatis:
  mapper-locations: classpath:mapper/**/*.xml
  type-aliases-package: org.example.customer.domain