server:
  port: 8081

spring:
  application:
    name: customer
  datasource:
    url: jdbc:mariadb://localhost:3306/customer_db
    username: root
    password: mariadb
    driver-class-name: org.mariadb.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update   # create, update, validate, none ? ?? ??
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

mybatis:
  mapper-locations: classpath:mapper/**/*.xml
  type-aliases-package: org.example.customer.domain
